/*
/backup-sync.conf
/composer
/symfony
!/.gitignore
!/LICENSE
!/README.md
!/backup-sync
!/backup-sync.conf.dist
!/bashrc-for-git.dist
!/bashrc-for-rubygems.dist
!/colors.sh
!/create-ssh-key
!/fstrim-all
!/git-tools.sh
!/install-latest-discord.sh
!/install-latest-slack.sh
!/main
!/memflush
!/output.sh
!/package-cleanup
!/rebase
!/setup-base-system
!/setup-composer
!/setup-ddev
!/setup-docker
!/setup-git
!/setup-gpg
!/setup-local-php
!/setup-personal
!/setup-phpstorm
!/setup-ruby
!/setup-social
!/shebang.sh
!/update-everything
!/upstream
