/*
/backup-sync.conf
/composer
/symfony
!/.github
!/.gitignore
!/LICENSE
!/README.md
!/backup-sync
!/backup-sync.conf.dist
!/backup2l.conf.dist
!/bashrc-for-git.dist
!/bashrc-for-rubygems.dist
!/colors.sh
!/container-prune-all
!/container-prune-unused
!/create-ssh-key
!/fstrim-all
!/git-tools.sh
!/install-latest-slack.sh
!/install-latest-zoom.sh
!/main
!/memflush
!/output.sh
!/package-cleanup
!/rebase
!/setup-base-system
!/setup-composer
!/setup-containers
!/setup-ddev
!/setup-dropbox
!/setup-git
!/setup-gpg
!/setup-local-php
!/setup-personal
!/setup-phpstorm
!/setup-ruby
!/setup-social
!/setup-thunderbird
!/shebang.sh
!/show-linux-version
!/thunderbird-apt.dist
!/update-everything
!/update-zoom.sh
!/upstream
