/*
/backup-sync.conf
/composer
/symfony
!/.gitignore
!/LICENSE
!/README.md
!/backup-sync
!/backup-sync.conf.dist
!/bashrc-for-git.dist
!/colors.sh
!/create-ssh-key
!/fstrim-all
!/git-tools.sh
!/kwin-restart
!/main
!/memflush
!/output.sh
!/p55
!/p56
!/p70
!/p71
!/p72
!/p73
!/p74
!/p80
!/p81
!/p82
!/p83
!/package-cleanup
!/php-version-switcher.sh
!/rebase
!/setup-base-system
!/setup-git
!/setup-gpg
!/setup-social
!/shebang.sh
!/update-everything
!/upstream
