Package: thunderbird
Pin: release o=LP-PPA-mozillateam
Pin-Priority: 1001

Package: thunderbird-locale-de
Pin: release o=LP-PPA-mozillateam
Pin-Priority: 10019

Package: thunderbird-locale-nl
Pin: release o=LP-PPA-mozillateam
Pin-Priority: 1001

Package: thunderbird
Pin: version 2:1snap*
Pin-Priority: -1
