Package: thunderbird
Pin: origin ppa.launchpadcontent.net
Pin-Priority: 999

Package: thunderbird-locale-de
Pin: origin ppa.launchpadcontent.net
Pin-Priority: 999

Package: thunderbird-locale-nl
Pin: origin ppa.launchpadcontent.net
Pin-Priority: 999
